<!DOCTYPE html>
<html>
{% block header %}
<head>
<title>Welcome to my site friend</title>

</head>
{% endblock%}
{% block body %}
 <body>



      <ul class="nav nav-tabs">
          <li class="active"><a href="{{ path('homepage')}}">home</a></li>
          <li><a href="{{ path('apikey')}}"> authorization key-api</a></li>
          <li><a href="{{ path('connect_facebook')}}">authorization facebook</a></li>
          <li><a href="{{ path('secret_part')}}">login secret part</a></li>



      </ul>

<br>



  </body>
{% endblock%}
{% block footer %}
{% endblock%}
</html>
